*{
  margin: 0px;
  padding: 0px;
}
.app-container{
  border: 4px solid red;
  width: 50%;
  margin: auto;
  padding: 10px;
  height: 80%;
  background-color: bisque;
}
.app-heading{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: cornflowerblue;
}
.weather-city{
  padding: 10px;
  text-align: center;
  font-size: 25px;
  display: block;
  width: 80%;
  margin: auto;
  background-color: aqua;
}
.weather-name-city{
  margin-top: 20px;
  background-color: beige;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: medium;
}
.weather-info
{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.weather-city-name
{
  font-size: medium;
  text-align: center;
  color: black;
  background-color: brown;
  margin-top: 10px;
}